<div class="container">

  <h1><span class="badge bg-secondary">{{tag}}</span></h1>

  <div class="row">
    <div class="col-sm-3" *ngFor="let app of apps">
      <div class="card " [ngClass]="{
          'blink_me': app.status==='IN_PROGRESS',
          'unknown': app.status==='UNKNOWN',
          'fail': app.status==='FAIL',
          'ok': app.status==='OK'}">
        <div class="card-body">
          <h5 class="card-title">{{app.name}}</h5>
          <p class="card-text">{{app.description}}
          </p>
          <div class="text-end">
            <a href="#" class="btn btn-secondary ">Check Jenkins</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
