textarea {
 margin-bottom:10px;
}

input {
 margin-bottom:10px;
}

.container {
  margin-top: 30px;
  width:50%;
}

.invalid-feedback {
  display: block !important;
}

.valid-feedback {
  display: block !important;
}
