<div class="container">
  <form [formGroup]="appForm" (submit)="createApp()">
    <div [hidden]="messagePresent" [ngClass]="{'valid-feedback':isSuccess, 'invalid-feedback':isError }">
      {{apiResponse}}
    </div>

    <div class="form-group app-form row">
      <div class="col-sm-4">
        <input type="name" class="form-control" placeholder="new app name" formControlName="name">
        <textarea placeholder="description" type="description" formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary">Create</button>
  </form>
</div>
